<header>
    <div class="navbar bg-primary shoadow-sm">
        <div class="navbar-brand d-flex align-items-center">
            <i class="fa-solid fa-truck-fast d-flex m-1" style="font-size: 40px; color: #fdfcfc"></i>
            <h3 class="p-3" style="font-size: 30px; color: #fdfcfc">Shopping Cart</h3>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="search products...">
            </div>
            <span class="fa fa-search search-icon" style="color:rgb(53, 53, 241)"></span>
        </div>
        <button class="btn">
            <i style="font-size: 30px; color: #fdfcfc;" class="fa-sharp fa-solid fa-cart-shopping"></i>
            <div style="font-size: 10px;" class="badge bg-danger">5</div>
        </button>
    </div>
</header>